<div>
    <h1 mat-dialog-title>Nuevo Producto</h1>
    <div mat-dialog-content>
        <form [formGroup]="addProductForm">
            <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">

                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput #name formControlName="name" type="text" maxlength="50" placeholder="Ingrese nombre">
                    <mat-error *ngIf="this.addProductForm.get('name')?.errors?.['required']">
                        Campo obligatorio
                    </mat-error>
                    <mat-error *ngIf="this.addProductForm.get('name')?.errors?.['maxLength']">
                        No debe superar 50 caracteres
                    </mat-error>
                    <mat-hint align="end">{{name.value.length}}/50</mat-hint>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Descripción</mat-label>
                    <textarea matInput #detail formControlName="detail" placeholder="Ingrese descripción..." maxlength="500" required></textarea>
                    <mat-error *ngIf="this.addProductForm.get('detail')?.errors?.['required']">
                        Campo obligatorio
                    </mat-error>
                    <mat-error *ngIf="this.addProductForm.get('detail')?.errors?.['maxLength']">
                        No debe superar 500 caracteres
                    </mat-error>
                    <mat-hint align="end">{{detail.value.length}}/500</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Precio</mat-label>
                    <input matInput type="number" formControlName="price" class="example-right-align" placeholder="0.00">
                    <span matTextPrefix>$&nbsp;</span>
                    <mat-error *ngIf="this.addProductForm.get('price')?.errors?.['required']">
                        Campo obligatorio
                    </mat-error>
                    <mat-error *ngIf="this.addProductForm.get('price')?.errors?.['pattern']">
                        Máximo 6 enteros con 2 decimales
                    </mat-error>
                    <mat-hint align="start">Ej: 999.99</mat-hint>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Categoría</mat-label>
                    <mat-select placeholder="Categoría" formControlName="category" name="category">
                        <mat-option *ngFor="let c of categories" [value]="c.value">
                            {{c.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.addProductForm.get('category')?.errors?.['required']">
                        Campo obligatorio
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Es Novedad?</mat-label>
                    <mat-select placeholder="Es Novedad" formControlName="isnew" name="isnew">
                        <mat-option *ngFor="let b of booleanOptions" [value]="b.value">
                            {{b.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.addProductForm.get('isnew')?.errors?.['required']">
                        Campo obligatorio
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Está de oferta?</mat-label>
                    <mat-select placeholder="Está en Oferta" formControlName="issale" name="issale">
                        <mat-option *ngFor="let b of booleanOptions" [value]="b.value">
                            {{b.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.addProductForm.get('issale')?.errors?.['required']">
                        Campo obligatorio
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Ruta Imagen</mat-label>
                    <input matInput type="text" #imgsrc formControlName="imgsrc" name="imgsrc" maxlength="100" placeholder="Ingrese ruta">
                    <mat-error *ngIf="this.addProductForm.get('imgsrc')?.errors?.['required']">
                        Campo obligatorio
                    </mat-error>
                    <mat-error *ngIf="this.addProductForm.get('imgsrc')?.errors?.['maxLength']">
                        No debe superar 100 caracteres
                    </mat-error>
                    <mat-hint align="end">{{imgsrc.value.length}}/100</mat-hint>
                    <mat-hint align="start">Ej: images/shopProducts/3.png</mat-hint>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-stroked-button color="primary" type="submit" (click)="addProduct()" [disabled]="!addProductForm.valid" cdkFocusInitial>Confirmar</button>
        <button mat-button (click)="close()">Cancelar</button>

    </div>

</div>